body, html {
  width: 100%;
}

/* .dflt-styles {
  text-align: center;
  float: left;
} */

.single-img-slider img {
  /* max-width: 1500px; */
  height: auto;
  width: 100%;
}

.single-img-slider .slick-prev:before, .slick-next:before {
  color: white !important;
}

.single-img-slider .slick-prev {
  left: 25px !important;
  z-index: 99999;
}

.single-img-slider .slick-next {
  right: 25px !important;
  z-index: 99999;
}
